.part {
    display: grid;
    column-gap: 20px;
    align-items: start;
    grid-template-rows: auto;
    grid-template-columns: 100px repeat(3, auto);
    grid-template-areas: "img partName partName price"
                         "img features features nav";
    margin-bottom: 40px;
    border-bottom: 1px solid var(--border-color);
    padding-bottom: 50px;
}


.partPrice {
    justify-self: end;
}

.nav {
    justify-self: end;
}



.part:first-child {
    padding-top: 50px;
}

@media screen and (max-width: 1135px) {
    
    .partName {
        word-wrap: break-word;
        max-width: 500px;
    }
    
    .part {
        grid-template-areas: 
        "img partName partName partName"
        "img features price ."
        ". . nav .";
    }
    
    
}

@media screen and (max-width: 1025px) {
    
    .partName {
        max-width: 800px;
    }
    
    .partPrice {
        align-self: center;
    }
    
    .part {
        grid-template-areas: 
        "img partName partName partName"
        "img features . price"
        ". . . nav";
    }
    
    
}

.btnAdd {
    width: 200px;
}

@media screen and (max-width: 850px) {
    
    .part:first-child {
        padding-top: 20px;
    }
    
    .part {
        font-size: 16px;
        
        grid-template-areas: 
        "img partName partName ."
        "img features . ."
        "price nav . .";
    }
    
    
}

@media screen and (max-width: 500px) {
    
    .partName {
        max-width: auto;
    }
    
    .btnAdd {
        width: 100px;
    }
    
    
    
    .part {
        font-size: 16px;
        
        grid-template-areas: 
        "img partName . ."
        "img features . ."
        "price nav . .";
    }
    
    
}

.partName {
    overflow-wrap: break-word; /* Для поддержки современных браузеров */
    word-wrap: break-word;
    grid-area: partName;
}


.partImg {
    width: 100px;
}
.partFeatures {
    grid-area: features;
}

.partPrice {
    grid-area: price;
}

.nav {
 grid-area: nav;
}


.partName {
  
}


.nav {
   display: flex;
   justify-content: end;
   gap: 20px;
   align-items: center;
}






.partFeatures {
    color: #eeeeee;
}

.partPrice {
    justify-self: end;
}


.part:last-child {
    border-bottom: none;
}







