


.partBtn {
  height: 2em;
  width: 150px;
}
  
  
  .partsWrapper {
      border-bottom: 1px solid var(--border-color);
      align-items: center;
      padding: 20px 0;
  }

  .selectionWrapper {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 125px repeat(auto-fit, minmax(100px, 1fr));
    grid-template-rows: repeat(2, auto)
    /* row-gap: 50px;
    margin-bottom: 20px; */
  }

   @media screen and (max-width: 1200px) {
    .selectionWrapper {
      grid-template-columns: repeat(auto-fit, minmax(auto, 1fr));
    }
  } 


  @media screen and (max-width: 480px) {
    .selectionWrapper {
      grid-template-columns: 70px repeat(auto-fit, minmax(auto, 130px));
    }
  } 




  
  .title {
    word-wrap: break-word;
  }
  


  .btnSave {
   height: 2em;
   display: flex;
   gap: 10px;
   padding: 0px 15px;
   width: auto;
  }

  /* .headerPrice {
    grid-column: 4/5;
  } */

  .bottomWrapper {
    margin-top: 10px;
    display: flex;
    width: 500px;
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;
  }



  @media screen and (max-width: 1200px) {

    .bottomWrapper {
      width: 300px;
    }

    .partBtn {

      width: 100px;
    }
  } 


  .totalPrice {
  }
  
