ul {
    margin-bottom: 20px;
    padding-bottom: 10px;
}

/* ul > li:last-child {
    margin-bottom: 0px;
    padding-bottom: 15px;
    border-bottom: 1px solid var(--border-color);
} */
 
ul:last-child {
    margin-bottom: 0px;
    padding-bottom: 0px;
}




ul > li {
    margin-bottom: 15px;
}