.part {

    font-size: 18px;

    margin-bottom: 40px;
    margin-left: 4vw;
    border-bottom: 1px solid #dbdbdb;;
    padding-bottom: 50px;
}


.part:first-child {
    padding-top: 50px;
}

.part:last-child {
    border-bottom: none;
}


.partTable {
    display: grid;
    grid-template: 1fr / min-content 2fr minmax(auto, 50px) 1fr;
    column-gap: 20px;
}


.middle {
    display: grid;
    grid-template: auto 1fr / 1fr;
    row-gap: 10px;
}

.partName {
    font-size: 30px;
    font-weight: bold;
    grid-column: 1/2;
}
.partFeatures {
    font-size: 18px;
}


.right {
    display: grid;
grid-column: 4/5;
    grid-template: auto 1fr / 1fr;
}

.partPrice {
    font-size: 40px;
}


.partNav {
    margin-top: -50px;
    display: grid;
    grid-template: 1fr / min-content min-content;
    column-gap: 30px;
    align-items: center;
    
}

.btnAdd {
    height: 50px;
}

