.wrapper {
    
    background-color: #2d2d34;
    margin-top: 20px;
    padding: 20px;
    border-radius: 30px;
    display: grid;
    grid-template: auto 1fr / 1fr 1fr; 
    justify-self: center;
    justify-items: center;
    border: 0.5px solid rgb(168, 167, 167);
}

.header {
    margin: 15px 0px;
    grid-column: 1/3;
}

.inputWrapper {
    display: grid;
    grid-column: 1/3;
    grid-template: 1fr / 1fr 1fr;
    gap: 50px;
}

.label {
    display: grid;
    gap: 10px;
}