

@tailwind base;
@tailwind components;
@tailwind utilities;


.nav {
    background-color: white;
}


.pageSelection {
    display: grid;
}

.arrowBack {
    color: black;
    width: min-content;
    cursor: pointer;
}




.spinner {
    margin-top: 10vh;
    display: flex;
    justify-content: center;
}




