.pageSelection {
    display: grid;
}

.arrowBack {
    color: black;
    width: min-content;
    cursor: pointer;
}



.spinner {
    margin-top: 10vh;
    display: flex;
    justify-content: center;
}


.backward {
    cursor: pointer;
    width: max-content;
}




