.input {
    appearance: none;
    height: auto;
    outline: none;
    border: none;
    padding: 15px 115px 15px 15px;
    border-radius: 8px;
    font-size: 17px;
    letter-spacing: 0em;
    line-height: 1em;
    background: #09090f;
    color: #ffffff;
    box-shadow: 0px 0px 1px 1px rgb(57, 55, 58);
    transition: box-shadow 0.3s;
}



.input:focus {
    box-shadow: 0px 0px 1px 1px rgba(145, 25, 229, 1);
   transition: box-shadow 0.3s;
}