.parts {
  background-color: white;
  box-shadow: -2px 7px 9px -1px rgba(45, 45, 45, 0.2);
  border-radius: 20px;
  font-size: 25px;
  padding: 20px;
}


.partsWrapper {
    display: grid;
    grid-template: 1fr / 200px minmax(200px, 3fr) 1fr 200px;
    margin-bottom: 12px;
    border-bottom: 1px solid #dbdbdb;
}

.title {
  word-wrap: break-word;
}

.headerPrice {
  grid-column: 4/5;
}

.partBtn {
  margin-bottom: 10px;
}

.partBtn > span {
  font-size: 40px;
  margin-right: 5px;
}