
  .selectionHrdw {
    display: grid;
    grid-template: 1fr / 200px 100px  minmax(200px, 1fr) repeat(3, 200px);
  }


  .anotherSelection {
    display: grid;
    gap: 15px;
    grid-template: 1fr / 200px 100px  minmax(200px, 1fr) repeat(2, 200px);
  }

  

  .name {
    padding-right: 20px;
  }
  
 .btnX {
   height: 42px;
   width: 150px;
 }