.build-item {
    display: grid;
    gap: 20px;
    grid-template-columns: 100px repeat(auto-fit, minmax(100px, 1fr));
    grid-template-areas:   
    'img name name name price'
    'img features features . actions';
                          
}


@media screen and (max-width: 730px) {
    .build-item {
        grid-template-areas:   'img name name'
                                'img features features'
                                'price actions actions'
    }
}


@media screen and (max-width: 480px) {
    .build-item {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 10px;   
        
    }

    .build-item__img {
        height: 150px;
        width: 150px;
    }
} 



 .build-item__name {
    grid-area: name;
}




.build-item__img_container {
    grid-area: img;
}
.build-item__img {
    display: block;
}


.build-item__features {
    grid-area: features;
}

.build-item__price {
    grid-area: price;
}


.build-item__actions {
    grid-area: actions;
}