.headerWrapp {
    display: grid;
    grid-template: auto / auto minmax(50px, 1fr) auto;
    border-bottom: 1px solid var(--border-color);
    align-items: center;
    padding: 20px;
}



.modal {
    text-decoration: none;
}

.header {
    grid-column: 1/2;
}


.logout {
    grid-column: 3/4;
}


.logout {
    color: white;
    text-decoration: none;
    cursor: pointer;
    display: flex;
    gap: 5px;
}


.logout:hover {
    color: #884bc5;
}



.modal {
    display: none;
}

.modalContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.modalContainer a{
    color: white;
    text-decoration: none;
}

.modalContainer a:hover {
    color: #884bc5;
}

@media screen and (max-width: 1024px) {
    .header {
        font-size: 25px;
    }

    .headerWrapp {
        column-gap: 20px;
        grid-template: auto / auto auto;
    }
    .modal {
        font-size: 20px;
        justify-self: end;
        display: block;
    }
    .logout {
        display: none !important;
    }
}


@media screen and (max-width: 480px) {
    .header {
        font-size: 20px;
    }

    .headerWrapp {
        
        column-gap: 10px;
        padding: 5px;
        grid-template: auto / auto auto;
    }
}


