.headerWrapp {
    display: grid;
    grid-template: auto / auto 1fr auto;
    border-bottom: 1px solid var(--border-color);
    align-items: center;
}

.header {
    grid-column: 1/2;
}


.profile {
    grid-column: 3/4;
}



